{% extends 'bowlingmafia/layout.html' %}

{% block title %}
    <title>Tournament Directors</title>
{% endblock title %}

{% block content %}
    <h1 class="model-table-header">Tournament Directors</h1>
            
    {% if logged_in %}
        <div id="center">
            <a class="add-link" href="{% url 'create_director' %}">Register a Tournament Director</a>
        </div>
    {% endif %}

    <table class="model-table">
        <thead>
            <tr>
                <!-- <th>Profile Picture</th> -->
                <th>Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                {% if logged_in %}
                    <th colspan="2">Admin Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for director in tournament_directors %}
                <tr>
                    <!-- <td>
                        {% if director.profile_picture %}
                            <img src='{{ director.profile_picture.url }}'/>
                        {% endif %}
                    </td> -->
                    <td>{{ director }}</td>
                    <td>{{ director.email_address }}</td>
                    <td>{{ director.phone_number }}</td>
                    {% if logged_in %}
                        <td>
                            <a href="{% url 'update_director' director.id %}">Edit</a>
                        </td>
                        <td>
                            <a href="{% url 'delete_director' director.id %}">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}